
<div class="footer">
  <ul>
    <li>Making Code Taste Better</li>
    <li>
      #node.js #javasciprt #html #css #pug #scss #git #jquery #vue #react #crypto #trading #php #sql #ruby #swift
      #python #vscode #code #twitch #sh #json #bash #markdown
    </li>
  </ul>
</div>